<!-- Footer -->
<footer class="page-footer font-small bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <font color="white">© 2020 Copyright:</font>
        <a href="https://github.com/Fausio">   Github </a>    
        <font color="white">|</font>
        <a href="https://web.facebook.com/fausio.luis">   Facebook</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->