<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/style.css" rel="stylesheet" /> 
    <link href="~/bootstrap-4.4.1/css/bootstrap.css" rel="stylesheet" />
   <script src="~/bootstrap-4.4.1/js/bootstrap.min.js"></script> 
     <script src="~/bootstrap-4.4.1/js/bootstrap.bundle.js"></script>
</head>
<body>
    <div>
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">

    </script>
    <script src="~/bootstrap-4.4.1/js/bootstrap.min.js"></script>


</body>
</html>
